<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minesweeper Royale</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/addons/p5.sound.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Noto+Sans+TC">

    <script src="client.js" defer></script>
    <script src="sketch.js" defer></script>
    <script src="square.js" defer></script>
    <script src="sockethandler.js" defer></script>
</head>
<body>
    <div id="app">
        <div id="left-column">
            <div id="game-canvas"></div>
        </div>

        <div id="right-column">
            <div id="instructions">
                <div v-if="client.isHost && !canPlay">
                    <button v-if="players.length > 1" @click="startGame()">Start Game</button>
                    <p>
                        Click Start Game to begin the game.
                        A minimum of two players is required to begin a game.
                        No players will be able to join when the game is in progress.
                    </p>
                </div>
            </div>
            
            <div class="separator"></div>
            
            <p>Game status: {{ status }}</p>
            
            <div class="separator"></div>

            <p>Players:</p>
            <p v-for="player in players"
            :style="{ color: player.color }">{{ player.nickname }}</p>
        </div>
        
        <div v-if="modalData.showModal">
            <div id="backdrop"></div>
            <modal
            :headertext="modalData.headerText"
            :bodytext="modalData.bodyText"
            :inputbox="modalData.inputBox"
            :placeholdtext="modalData.placeholdText"
            :buttontext="modalData.buttonText"
            :showmodal="modalData.showModal"
            @close-modal="closeModal">
            </modal>
        </div>
    </div>
</body>
</html>