html, body {
    font-family: 'Noto Sans TC', serif;
}

canvas {
    display: block;
    margin: auto;
    padding: 0;
}

div#left-column {
    width: 50%;
    float: left;
    margin-left: 0;
}

div#right-column {
    width: 50%;
    float: right;
    margin-right: 0;
}

div#backdrop {
    z-index: 3;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

div#modal {
    z-index: 4;
    width: 40%;
    height: 40%;
    position: absolute;
    margin: auto;
    left: 30%;
    top: 30%;
    background-color: white;
    border-radius: 0.5rem;
}

div#modal>h2 {
    border-bottom: 1px solid silver;
}

div#modal>p, div#modal>h2, div#modal>input, div#modal>button {
    padding: 0.4rem;
}

div#modal>input, div#modal>input {
    margin: 0.4rem;
}
